.gridForm {
    display: grid;
    max-width: 50%;
    grid-template-areas: 
    'name name'
    'street street'
    'city zipcode'
    'fire'
    'delievery'
    'consent'
    'button';
}

.gridForm * {

}

.itemName{
    grid-area: name;
}

.itemStreet {
    grid-area: street;
    width: 100%;
}

.itemCity {
    grid-area: city;
}

.itemZipcode {
    grid-area: zipcode;
}

.itemDelievery {
    grid-area: delievery;
}

.itemFire {
    grid-area: fire;
}

.itemConsent {
    grid-area: consent;
}

.itemButton {
    grid-area: button;
}